@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
:root {
    --primary-white: #FFFFFF;
    --primary-blue: #340DF5;
    --primary-dark: #292B2C;
    --secondary-dark: rgb(52, 58, 63);
    --primary-light-blue: #2C8EF1;
}

body {
    background-image: url("background-image.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

nav {
    z-index: 2;
}

nav a.nav-link {
    letter-spacing: 0.038rem;
    cursor: pointer;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li > a {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: var(--primary-white) !important;
    border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a.active,  .navbar-nav > li > a.active:focus {
    border-top: 0.1875rem solid var(--primary-blue);
}

.navbar-nav > li > a:hover {
    border-top: 0.1875rem solid var(--primary-blue);
}